<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--<configSections>
    <section name="ajaxControlToolkit" type="AjaxControlToolkit.AjaxControlToolkitConfigSection, AjaxControlToolkit" />
  </configSections>
  <ajaxControlToolkit useStaticResources="true" renderStyleLinks="false" htmlSanitizer="AjaxControlToolkit.HtmlEditor.Sanitizer.DefaultHtmlSanitizer, AjaxControlToolkit.HtmlEditor.Sanitizer" />-->
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="none" />
  </appSettings>
  <system.web>
    
    <customErrors defaultRedirect="" />
    <trace enabled="true" />
    <authorization>
      <allow roles="SuperAdmin" />
    </authorization>
    <authentication mode="Forms" />
    <httpRuntime targetFramework="4.5" />
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <pages>
      <!--<controls>
        <add assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" tagPrefix="ajaxToolkit" />
      </controls>-->
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <profile enabled="true" defaultProvider="ProfileProvider">
      <providers>
        <add name="ProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="connstrn" applicationName="Profile" />
      </providers>
      <properties>
        <add name="NPM" type="System.String" serializeAs="String" allowAnonymous="false" defaultValue="" readOnly="false" />
        <add name="Nama" type="System.String" serializeAs="String" allowAnonymous="false" defaultValue="" readOnly="false" />
        <add name="Tempat_Lahir" type="System.String" serializeAs="String" allowAnonymous="false" defaultValue="" readOnly="false" />
        <add name="Tanggal_Lahir" type="System.DateTime" serializeAs="String" allowAnonymous="false" defaultValue="" readOnly="false" />
        <add name="Alamat" type="System.String" serializeAs="String" allowAnonymous="false" defaultValue="" readOnly="false" />
        <add name="Telp" type="System.String" serializeAs="String" allowAnonymous="false" defaultValue="" readOnly="false" />
        <add name="Email" type="System.String" serializeAs="String" allowAnonymous="false" defaultValue="" readOnly="false" />
        <add name="Foto" type="System.Byte" serializeAs="Binary" allowAnonymous="false" defaultValue="" readOnly="false" />
      </properties>
    </profile>
    <membership defaultProvider="MembershipProvider">
      <providers>
        <add connectionStringName="connstr" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" name="MembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="RoleProvider">
      <providers>
        <add connectionStringName="connstr" applicationName="/" name="RoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </providers>
    </roleManager>
  </system.web>
  
  <system.webServer>
    
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <connectionStrings>
    <add name="connstr" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|udat.mdf;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="connstrMember" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|Member.mdf;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.net>
    <mailSettings>
      <smtp from="CyberClass">
        <network host="smtp.live.com" password="live.com" userName="ethentias@live.com" enableSsl="true" />
      </smtp>
    </mailSettings>
  </system.net>
  
</configuration>